@import './styles/colorPalette.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-muted);
}

.error_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: radial-gradient(120% 120% at 50% 0%, var(--bg-light) 50%, black);
  height: 100vh;
  border-radius: 12px;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background: radial-gradient(120% 120% at 50% 0%, var(--bg-light) 50%, black); 
}

.noCollection_container{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh; 
    background: radial-gradient(120% 120% at 50% 0%, var(--bg-light) 50%, black);
    border-radius: 12px;
}

.noCollection_container h1 {

  position: absolute;
  top: 40%;                 
  transform: translateY(-50%);
  
  color: var(--text);
  font-family: 'Roboto';
  line-height: 110%;
  letter-spacing: -2%;
  font-size: 40px;
  font-size: clamp(40px, 15.5774647887px + 4.0845070423vw, 60px);
  font-weight: 400;
  
}
  

