body {
  background: radial-gradient(120% 120% at 50% 0%, var(--bg-light) 50%, black);
  min-height: 86vh;
}

.admin_container {
    width: 100%;
    height: auto;
    margin-top: 128px;
    align-items: center;
    text-align: center;
}

.admin_title {
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -2%;
    font-family: 'Roboto';
    color: var(--text);
    margin-bottom: 32px;
}

.admin-content {
  display: flex;
  flex-direction: column; 
  margin-bottom: 50px;             
}

.access-granted {
  padding: 0.5rem;           
  border-radius: 0.375rem;     
  font-size: 1.125rem;         
  font-weight: 700;
  background-color: #16a34a;   
  color: white;
  text-align: center;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  min-width: 100%;
}

.admin-table th,
.admin-table td {
  padding: 0.5rem 1rem;
  font-size: 0.875rem; 
  border-bottom: 1px solid #e5e7eb;
}

.admin-table th.text-center,
.admin-table td.text-center {
  text-align: center;
}



.not-admin-container {
  width: 100%;
  height: auto;
  margin-top: 128px;
  align-items: center;
  text-align: center;
}

.not-admin-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;              
}

.not-admin-title {
  font-size: 1.875rem;    
  font-weight: 700;        
}

.not-admin-forbidden {
  padding: 0.5rem;          
  border-radius: 0.375rem; 
  font-size: 1.125rem;     
  font-weight: 700;         
  background-color: #dc2626;
  color: white;             
  text-align: center;
}
