@import './colorPalette.css';

.home_container {
  background: transparent;
  display: grid;
  grid-template-columns: repeat(10, 8.5vw);
  grid-template-rows: repeat(10, 10vh);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 85vw;               
  left: 50%;                 
  transform: translateX(-50%);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 60px;  
          
}


.text_container{
  grid-column: 1 / 6 ;
  grid-row: 4 / 7;
}

.text_container h1{
  width: 100%;
  color: var(--text);
  font-size: 36px;
  font-size: clamp(36px, 15.5774647887px + 4.0845070423vw, 80px);
  line-height: 100%;
  margin-bottom: 16px;
}

.text_container p{
  width: 100%;
  color: var(--text-muted);
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 150%;
  letter-spacing: +0.5%;
}

.homeLogo_container {
  grid-column:  8 / 11;
  grid-row: 2 / 4;
 
}

.packCard_group{
  position: relative;
  width: 12vw;
  aspect-ratio: 1 / 2;
}

.pack{
  position: absolute;
  aspect-ratio: 1 / 2;
  width: 100%;
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;
  transition: transform 0.8s cubic-bezier(.05, .43, .25, .95);
  z-index: 11;
  
 
}
.card{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 5 / 7.2;
  width: 50%;
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;
  transition: transform 0.8s cubic-bezier(.05, .43, .25, .95);
  
 
}

.home_btn{
  margin-left: 1px;
  margin-top: 32px;
  padding: 0.75rem 2.5rem;
  border: var(--border-card);
  border-radius: 12px;
  font-size: 18px;
  color: var(--text);
  font-weight: 700;
  cursor: pointer;
  background: hsl(0, 0%, 95%);
}



.pack:nth-child(2){
  background-image: url("http://192.168.2.5:5000/public/assets/pack1.png"); 
  transform: translateX(-10%) rotate(-1deg)
}
.pack:nth-child(4){
  background-image: url("http://192.168.2.5:5000/public/assets/pack2.png"); 
  transform: rotate(2deg)
}
.pack:nth-child(6){
  background-image: url("http://192.168.2.5:5000/public/assets/pack3.png"); 
  transform: translateX(-6%) rotate(-3deg)
}
.pack:nth-child(8){
  background-image: url("http://192.168.2.5:5000/public/assets/pack4.png"); 
  transform: translate(10%, 3%) rotate(5deg)
}
.card:nth-child(1){
  background-image: url("http://localhost:5000/public/assets/89631139.jpg"); 
  transform: translateX(-10%) rotate(-1deg)
}
.card:nth-child(3){
  background-image: url("http://localhost:5000/public/assets/55144522.jpg"); 
  transform: rotate(2deg)
}
.card:nth-child(5){
  background-image: url("http://localhost:5000/public/assets/64631466.jpg"); 
  transform: translateX(-6%) rotate(-3deg)
}
.card:nth-child(7){
  background-image: url("http://localhost:5000/public/assets/44095762.jpg"); 
  transform: translate(10%, 3%) rotate(5deg)
}

.packCard_group:hover > .pack:nth-child(2){
  transform: translate(-75%, 16%) rotate(-24deg)
}
.packCard_group:hover > .pack:nth-child(4){
  transform: translate(-25%, 8%) rotate(-8deg)
}
.packCard_group:hover > .pack:nth-child(6){
  transform: translate(25%, 8%) rotate(8deg)
}
.packCard_group:hover > .pack:nth-child(8){
  transform: translate(75%, 16%) rotate(24deg)
}

.packCard_group:hover > .card:nth-child(1){
  transform: translate(140%, -170%) rotate(-15deg)
}
.packCard_group:hover > .card:nth-child(3){
  transform: translate(140%, 130%) rotate(15deg)
}
.packCard_group:hover > .card:nth-child(5){
  transform: translate(-240%, -170%) rotate(15deg)
}
.packCard_group:hover > .card:nth-child(7){
  transform: translate(-240%, 130%) rotate(-15deg)
}

@media (max-width: 1530px) {
  .homeLogo_container {
   
    grid-column:  8 / 11;
    grid-row: 3 / 5;
 
  }
}

@media (max-width: 1130px) {
  .homeLogo_container {
   
    grid-column:  8 / 11;
    grid-row: 4 / 7;
 
  }
} 

@media (max-width: 860px) {
  .home_container {
    grid-template-columns: repeat(6, 15vw);
    grid-template-rows: repeat(4, 25vh);
    width: 90vw;
 
  }

  .homeLogo_container {
    grid-column:  1 / 7;
    grid-row: 1 / 3;
    
    
  }

  .text_container{
    grid-column:  1 / 7;
    grid-row: 3 / 5;
  }

  .packCard_group { 
    margin-top: 70px;
    justify-self: center;      
    align-self: center;        
    width: 20vw;               
  }
} 

@media (max-width: 430px) {
  .home_container {
    grid-template-columns: repeat(4, 22.5vw);
    grid-template-rows: repeat(4, 25vh);
    width: 90vw;
 
  }

  .homeLogo_container {
    grid-column:  1 / 5;
    grid-row: 1 / 3;
    
    
  }

  .text_container{
    grid-column:  1 / 5;
    grid-row: 3 / 5;
  }

  .packCard_group { 
    margin-top: 70px;
    justify-self: center;      
    align-self: center;        
    width: 28vw;               
  }
} 