.sort_overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 16px;
}

  
.sort_container {
  width: 100%;
  max-width: 900px;
  max-height: 90vh;

  background: #111;
  border: 2px solid #474747;
  padding: 24px;
  border-radius: 10px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto; /* ✅ scroll ΜΟΝΟ εδώ */
}


.sort_title{
    margin-bottom: 32px;
}

.sort_categories {
  display: flex;
  width: 100%;
  gap: 12px;
  flex-wrap: wrap; /* ✅ */
  justify-content: center;
  margin-bottom: 16px;
}


.main_sort_btn {
  width: 100%;
  max-width: 320px;
  height: 40px;

  border: 2px solid #8a8a8a;
  background-color: transparent;
  border-radius: 18px;

  font-size: 16px;
  cursor: default;
}

.sort_option_btn {
  min-width: 120px;
  height: 40px;

  border: 2px solid #8a8a8a;
  background-color: #686d77;
  border-radius: 18px;

  cursor: pointer;
  font-size: 16px;
}

.sort_option_btn.selected {
  background-color: #178ab8;
  border-color: #17a2b8;
}


.sort_ok_btn {
  height: 40px;
  width: 220px;

  background: linear-gradient(to top, #11790e 0%, #47aa44 100%);
  border: 2px solid #23dd1c;
  border-radius: 18px;

  cursor: pointer;
  font-size: 16px;
  margin-top: 24px;
}

@media (max-width: 480px) {
  .sort_title {
    font-size: 20px;
  }

  .sort_container {
    padding: 16px;
  }
}

  


